.footerCont{
    display: flex;
    border: 1px solid #fc9600;
    height: 90%;
    justify-content: center;
    background: #fc9600;
    color: #151211;
}
.footerCont li, a{
    color: #151211; 
}
.footerCont h1{
    margin-left: 2vw;
    margin-right: 2vw;
}
.footerCont h1:hover{
    text-decoration: underline;
}
.footerCont h2:after{
    content: "⮵"
}
.footerCont h2:hover:after{
    content: "⮸";
}