.footerCont{
    display: flex;
    border: 1px solid var(--fontSec);
    height: 90%;
    justify-content: flex-start;
    padding-left: 18%;
    background: var(--fontSec);
    color: #151211;
}
.footerCont li, a{
    color: #151211; 
    
}
.footerCont a{
    margin-right: 5%;

}
.footerCont span:after{
    content: "\2197";
    display: inline-block;
}
.footerCont span{
    border: 2px solid black;
    border-radius: 5px;
}
.footerCont a{
    margin-right: 5%;
}
.footerCont h1{
    margin-right: 2vw;
}
.footerCont h1:hover{
    text-decoration: underline;
}
.footerCont h2{
    
}
.footerCont h2:after{
    
    border: 1px solid black;
    border-radius: 5px;
    
}
.footerCont h2:hover:after{
    
}
.anmBig{
    text-align: left;
    
}
.anmBig{
    margin-top: 0;
    font-size: 4em;
    font-weight: normal;
}
@media only screen and (max-width: 600px){
    .footerCont h2:after{
        content: none;
    }
    .footerCont{
        padding-left: 5%;
    }
    .footerCont span:after{
        content: none;
        border: 0px;;
    }
    .footerCont span{
        border: 0px;;
    }
    .anmBig{
        margin-top: 0;
        font-size: 3em;
        font-weight: normal;
    }
}