.App {
  text-align: center;
}
li, a {
  display: inline;
  cursor: pointer;
  height: 100%;
  text-decoration: none;
  color: white;
}
:root{
  --orange: #fc9600;
  --fontSec: #fc9600;
  --bg: black;
}

